@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

*,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: none;
}

@theme {
  --color-primary: #8b5cf6;
  --color-primary-dark: #4c1d95;
  --color-muted-white: rgba(255, 255, 255, 0.6);
  --container-max-width-sm: 640px;
  --container-max-width-md: 768px;
  --container-max-width-lg: 1024px;
  --container-max-width-xl: 1148px;
  --container-max-width-2xl: 1148px;
  --container-center: "true";
  --padding-section: 250px;
  --animate-shine: shine 2s linear infinite;

  @keyframes shine {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: -100%;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--container-max-width-2xl);
}

@media (min-width: 640px) {
  .container {
    max-width: var(--container-max-width-sm);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: var(--container-max-width-md);
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: var(--container-max-width-lg);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--container-max-width-xl);
  }
}

::-webkit-scrollbar {
  display: none;
}

.animateUp {
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    background: #0c0a14;
    color: #fff;
  }
}
